:root {
  /*Nautical Blues */
  --blue1: #00072d;
  --blue2: #001c55;
  --blue3: #0a2472;
  --blue4: #0e6ba8;
  --blue5: #a6e1fa;
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--blue3);
  margin: 0 0 0px;
  font-family: "Georgia", "Times New Roman", serif;
}

p,
label,
button {
  font-size: 1.5rem;
  margin-top: 8px;
  margin-bottom: 8px;
}

header {
  background-color: var(--blue5);
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-box {
  background: var(--blue5);
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 800px;
  height: auto;
}

.hidden {
  display: none !important;
}

#descriptionBox {
  display: flex;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-left: 30px;
  margin-right: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: fit-content;
  background-color: var(--blue5);
}

#themesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: fit-content;
}

#themes {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
  width: 200px;
}

#chessDescription,
#flagsDescription {
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

#pictureBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 800px;
  background-color: var(--blue2);
}

img {
  border: solid 0.1rem black;
  max-width: 700px;
  max-height: 480px;
}

#guessingBox {
  height: 260px;
}

input {
  height: 30px;
  width: 200px;
  font-size: 1.2rem;
  border: 2px solid black;
}

.wrong {
  border: 4px solid rgb(206, 4, 4);
}

.correct {
  border: 4px solid rgb(1, 255, 1);
}

.buttons {
  font-weight: bold;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.buttons:hover {
  transform: scale(1.08);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.active {
  background-color: var(--blue4);
}

#highscore {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 10px 0px 10px 0px;
  margin: 20px 30px 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 190px;
}

hr {
  border: none;
  border-top: 1px solid black;
  margin: 8px 0px 8px 0px;
  width: 60%;
}

h2 {
  margin: 2px 0px 8px 0px;
}

#showLeaderboard {
  font-size: 1.2rem;
  margin: 2px 0px 0px 0px;
}
ol{
  margin-top: 0px;
}

footer {
  margin-bottom: 10px;
}